{% extends 'base.html' %}
{% load animesuki %}

{% block head_title %}{{ media.title }} | {{ media.get_media_type_display }} | AnimeSuki{% endblock head_title %}

{% block meta %}
    <link rel="canonical" href="{% build_absolute_uri request media %}">
{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap">
        <h1>{{ media.title }}</h1>
        {% if perms.media %}{% include 'media/_menu.html' with media=media perms=perms only %}{% endif %}
    </div>
    <div class="container"><div class="row">
        <div class="col-md-4 order-md-12 pr-md-0">
            {% if media.artwork_active %}
                <img src="{% call_method media.artwork_active 'get_image_url' '352w' %}" srcset="{% for size in media.artwork.get_image_sizes %}{% call_method media.artwork_active 'get_image_url' size %} {{ size }}{% if not forloop.last %}, {% endif %}{% endfor %}"  sizes="(max-width: 319px) 100vw, (max-width: 767px) 528px, (max-width: 1199px) 292px, 352px" class="img-fluid rounded" alt="{{ media.artwork_active }}" />
            {% endif %}
        </div>
        <div class="col-md-8 order-md-1">
{% with r='row py-1' h='col-lg-2 col-sm-3 pl-sm-2 font-weight-bold' d='col-lg-10 col-sm-9' %}
    <div class="{{ r }}">
        <div class="{{ h }}">Type</div>
        <div class="{{ d }}">{{ media.get_sub_type_display }}{% if media.is_adult %} (R-18){% endif %}{% spaceless %}
            {% if media.media_type == media.Type.ANIME and media.sub_type != media.SubType.MOVIE or media.episodes > 1 %}
                , {% if media.episodes is not None %}<span class="text-nowrap">{{ media.episodes }} episode{{ media.episodes|pluralize }}</span>{% else %}unknown number of episodes{% endif %}
            {% elif media.media_type != media.Type.ANIME and media.volumes > 1 %}
                , <span class="text-nowrap">{{ media.volumes }} volume{{ media.volumes|pluralize }}</span>
            {% elif media.media_type != media.Type.ANIME and media.chapters > 1 %}
                , <span class="text-nowrap">{{ media.chapters }} chapter{{ media.chapters|pluralize }}</span>
            {% elif media.media_type != media.Type.ANIME %}
                , unknown number of chapters
            {% endif %}
        {% endspaceless %}</div>
    </div>
    <div class="{{ r }}">
        <div class="{{ h }}">Status</div>
        <div class="{{ d }}">{{ media.get_status }}</div>
    </div>
    <div class="{{ r }}">
        <div class="{{ h }}">Vintage</div>
        <div class="{{ d }}">
            {% if media.start_date is not None %}<span class="text-nowrap">{{ media.start_date|date:'SHORT_DATE_FORMAT'|date_precision:media.start_precision }}</span>{% else %}?{% endif %}
            {% if media.start_date != media.end_date %}
                ~ {% if media.end_date is not None %}<span class="text-nowrap">{{ media.end_date|date:'SHORT_DATE_FORMAT'|date_precision:media.end_precision }}</span>{% else %}?{% endif %}
            {% endif %}
        </div>
    </div>
    {% if media.media_type == media.Type.ANIME and media.season_year %}
    <div class="{{ r }}">
        <div class="{{ h }}">Season</div>
        <div class="{{ d }}">
        {% if media.season %}
            {{ media.get_season_display }} {{ media.season_year }}
        {% else %}
            {{ media.season_year }}
        {% endif %}
        </div>
    </div>
    {% endif %}
    {% if media.description %}
    <div class="{{ r }}">
        <div class="{{ h }}">Description</div>
        <div class="{{ d }}">{{ media.description }}</div>
    </div>
    {% endif %}
    {% if media.synopsis %}
    <div class="{{ r }}">
        <div class="{{ h }}">Synopsis</div>
        <div class="{{ d }}">{{ media.synopsis }}</div>
    </div>
    {% endif %}
{% endwith %}
        </div>
    </div></div>
{% endblock content %}