{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign In" %}</h1>

    <p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% include 'core/forms/_head.html' with form=form only %}
        {% for field in form.visible_fields %}
            {% include 'core/forms/_field.html' with field=field row_css='form-group row' label_css='col-sm-2' field_css='col-sm-6' only %}
        {% endfor %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
	    <div class="form-group row">
		    <div class="col-sm-2"></div>
		    <div class="col-sm-6">
                <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                <a class="btn btn-outline-secondary ml-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
        </div>
    </form>
{% endblock %}
