{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% include 'core/forms/_head.html' with form=form only %}
        {% for field in form.visible_fields %}
            {% include 'core/forms/_field.html' with field=field row_css='form-group row' label_css='col-sm-2' field_css='col-sm-6' only %}
        {% endfor %}
	    <div class="form-group row">
		    <div class="col-sm-2"></div>
		    <div class="col-sm-6">
                <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
