{% load animesuki %}
{% if formset.non_form_errors %}
    {% for error in formset.non_form_errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong> {{ error|escape }}
        </div>
    {% endfor %}
{% endif %}
{{ formset.management_form }}
<div class="d-flex flex-wrap as-card-container">
{% for form in formset %}
    {% if form.instance.id %}
        <div class="as-card-col p-1">
            <div class="card text-center">
                {% include 'core/artwork/_thumb.html' with object=form.instance x1='t225' x2='t450' css='img-fluid card-img-top as-img-card' only %}
                <div class="card-img-overlay py-0 px-2" title="Active">
                    <div class="form-check text-right">
                        <input type="radio" name="active" value="{{ form.instance.id }}" class="form-check-input position-static"{% if object.artwork_active.id == form.instance.id %} checked{% endif %} />
                    </div>
                </div>
                <div class="card-body p-0">
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% include 'core/forms/_field.html' with field=form.DELETE row_css='form-group m-0' only %}
                </div>
            </div>
        </div>
    {% else %}
</div>
        <div class="form-row">
            {% for field in form.visible_fields %}
                {% if field != form.DELETE %}
                    <div class="col-sm-6"><label>{{ field.label }}</label></div>
                {% endif %}
            {% endfor %}
            {% for field in comment_form.visible_fields %}
                <div class="col-sm-6"><label>{{ field.label }}</label></div>
            {% endfor %}
        </div>
        <div class="form-row{% if forloop.last %} mb-3{% endif %}">
            {% for field in form.visible_fields %}
                {% if field != form.DELETE %}
                    <div class="col-sm-6">
                        {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        {% endif %}
                        {% include 'core/forms/_field.html' with field=field hide_label=True only %}
                    </div>
                {% endif %}
            {% endfor %}
            {% for field in comment_form.visible_fields %}
                <div class="col-sm-6">
                    {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                    {% endif %}
                    {% include 'core/forms/_field.html' with field=field hide_label=True only %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}