body {
    background-color: #204050;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.1rem; }

h1, h2, h3, h4, h5 {
    font-weight: 600;
}

.as-logo {
    background: #008080;
    border-bottom: solid 1px #004040;
}

.navbar {
    padding: 0.2rem;
}
.nav-link {
    font-weight: 600;
}

main.container {
    background-color: #FDF8F0;
    border: #DDD8D0 solid 0.2rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}
footer.container, footer.container a:link, footer.container a:active, footer.container a:visited {
    color: #608090;
}

@media (max-width: 767.98px) {
    .navbar {
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 100%;
        max-width: 100%;
    }

    main.container {
        border: 0;
        border-radius: 0 !important;
        margin-top: 0;
    }
}

.form-control::placeholder {
    color: #B0B0B0;
}

.as-card-container {
    margin: -0.25rem -0.25rem 0 -0.25rem;
}

@media (max-width: 439.98px) { .as-card-col { width: 50% } }
@media (min-width: 440px) and (max-width: 539.98px) { .as-card-col { width: 33% } }
@media (min-width: 540px) and (max-width: 679.98px) { .as-card-col { width: 25% } }
@media (min-width: 680px) and (max-width: 839.98px) { .as-card-col { width: 20% } }
@media (min-width: 840px) and (max-width: 1199.98px) { .as-card-col { width: 16.66% } }
@media (min-width: 1200px) { .as-card-col { width: 14.28% } }

.as-card-col:hover > div {
    border-color: #007BFF;
}

.as-img-card {
    object-fit: cover;
    height: 225px;
    font-size:2rem;
}

.as-img-table {
    object-fit: cover;
    width: 55px;
    height: 75px;
}
