{% extends 'base.html' %}
{% load animesuki %}

{% block head_title %}{{ changerequest.object_type|title }} History | AnimeSuki{% endblock head_title %}

{% block meta %}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <h1>{{ changerequest.object_type|title }} <span class="text-muted">History</span></h1>
    <div class="container">
{% with r='row py-1' h='col-lg-2 col-sm-3 pl-sm-2 font-weight-bold' d='col-lg-10 col-sm-9' %}
    <div class="{{ r }}">
        <div class="{{ h }}">Object</div>
        <div class="{{ d }}">
            {% if changerequest.object.get_absolute_url %}
                <a href="{{ changerequest.object.get_absolute_url }}">{{ changerequest.object }}</a>
            {% else %}
                {{ changerequest.object_str }}
            {% endif %}
            <small>({{ changerequest.object_type|title }} #{{ changerequest.object_id }})</small>
        </div>
    </div>
    <div class="{{ r }}">
        <div class="{{ h }}">Action</div>
        <div class="{{ d }}">
            <span class="badge {% if changerequest.request_type == 1 %}badge-success{% elif changerequest.request_type == 2 %}badge-info{% elif changerequest.request_type == 3 %}badge-danger{% else %}badge-secondary{% endif %}">{{ changerequest.get_request_type_display }}</span>
            {% if changerequest.request_type == changerequest.Type.RELATED %} <strong>{{ changerequest.related_type|title }}</strong>{% endif %}</div>
    </div>
    <div class="{{ r }}">
        <div class="{{ h }}">Status</div>
        <div class="{{ d }}">
            <span class="badge {% if changerequest.status == 1 %}badge-info{% elif changerequest.status == 2 %}badge-success{% elif changerequest.status == 3 %}badge-danger{% else %}badge-secondary{% endif %}">{{ changerequest.get_status_display }}</span>
        </div>
    </div>
    <div class="{{ r }}">
        <div class="{{ h }}">Changes</div>
        <div class="{{ d }}">
            <div class="table-responsive">
            <table class="table table-sm">
            {% if changerequest.request_type == changerequest.Type.RELATED %}
                {% with diff=changerequest.diff_related %}
                <thead>
                    <tr>
                    {% for field in diff.fields %}
                        <th>{{ field }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for key, item in diff.existing.items %}
                    {% with pk=item|getitem:diff.pk %}
                    <tr{% if pk in diff.deleted %} class="table-danger alert-danger"{% endif %}>
                    {% for key, value in item.items %}
                        {% if key == diff.pk %}<th>{% else %}<td>{% endif %}
                    {% if key in diff.modified|getitem:pk and pk not in diff.deleted %}<span class="alert-success px-1">{{ value }}</span>{% else %}{{ value }}{% endif %}
                        {% if key == diff.pk %}</th>{% else %}</td>{% endif %}
                    {% endfor %}
                    </tr>
                    {% endwith %}
                {% endfor %}
                {% for item in diff.added %}
                    <tr class="table-success alert-success">
                    {% for key, value in item.items %}
                        {% if key == diff.pk %}<th>{% else %}<td>{% endif %}
                        {{ value }}
                        {% if key == diff.pk %}</th>{% else %}</td>{% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                {% endwith %}
            {% else %}
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Old</th>
                        <th>New</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, value in changerequest.diff.items %}
                    <tr>
                        <th>{{ key|title }}</th>
                        {% if changerequest.request_type == changerequest.Type.ADD %}
                            <td><span class="text-danger">-</span></td>
                            <td>{% if value %}<span class="alert-success px-1">{{ value|linebreaksbr }}</span>{% else %}<span class="text-success">-</span>{% endif %}</td>
                        {% elif changerequest.request_type == changerequest.Type.MODIFY %}
                            <td>
                                {% if changerequest.data_revert|getitem:key %}
                                    <span class="alert-danger px-1">{{ changerequest.data_revert|getitem:key|linebreaksbr }}</span>
                                {% else %}
                                    <span class="text-danger">-</span>
                                {% endif %}
                            </td>
                            <td>{% if value %}<span class="alert-success px-1">{{ value|linebreaksbr }}</span>{% else %}<span class="text-success">-</span>{% endif %}</td>
                        {% elif changerequest.request_type == changerequest.Type.DELETE %}
                            <td>{% if value %}<span class="alert-danger px-1">{{ value }}</span>{% else %}<span class="text-danger">-</span>{% endif %}</td>
                            <td><span class="text-success">-</span></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
            </table>
            </div>
        </div>
    </div>
    <div class="{{ r }}">
        <div class="{{ h }}">Comment</div>
        <div class="{{ d }}">{{ changerequest.comment|default:'-' }}</div>
    </div>
    <div class="{{ r }}">
        <div class="{{ h }}">User</div>
        <div class="{{ d }}"><img src="{{ changerequest.user.get_gravatar_url }}" width="22" height="22" class="rounded" alt="{{ cr.user.username }}"> {{ changerequest.user.username }} <small>({{ changerequest.date_created }})</small></div>
    </div>
    {% if changerequest.mod is not None %}
    <div class="{{ r }}">
        <div class="{{ h }}">Mod</div>
        <div class="{{ d }}"><img src="{{ changerequest.mod.get_gravatar_url }}" width="22" height="22" class="rounded" alt="{{ cr.mod.username }}"> {{ changerequest.mod.username }} <small>({{ changerequest.date_modified }})</small></div>
    </div>
    {% endif %}
{% endwith %}
    </div>
{% endblock content %}